html, body{
	background-color: #eeeeee;
	color: #333333;
}

h1 {
	font-size: 4em;
}

h2 {
	margin: 40px 0 15px 0;
	font-size: 1.5em;
	font-weight: bold;
}
h3 {
	font-weight: bold;
}

a {
	color: blue;
}

#header {
	background-color: white;
}

#header-container {
	margin: 0 auto;
	padding: 30px 60px 20px 60px;
	max-width: 800px;
}

#content {
	margin: 0 auto;
	padding: 40px 60px 100px 60px;
	max-width: 800px;
	
}

ol {
	color: grey;
	font-weight: bold;
	margin: 15px 0 0 20px;
	list-style: decimal;
}
ol span {
	color: #333333;
	font-weight: normal;
}

li {
	margin-bottom: 5px;
}

a[rel=example-group] > img {
	width: 200px;
	padding: 8px;
	background-color: white;
	margin: 0 5px 5px 0;
} 

strong {
	font-weight: bold;
}
