html, body{
	background-color: #eeeeee;
	color: #333333;
}

h1 {
	font-size: 4em;
}

h2 {
	margin: 40px 0 15px 0;
	font-size: 1.5em;
	font-weight: bold;
}
h3 {
	font-weight: bold;
}

a {
	color: blue;
}

#header {
	background-color: white;
	padding: 30px 60px 20px 60px;
}

#content {
	padding: 40px 60px 0 60px;
}

a[rel=example-group] > img {
	width: 200px;
	padding: 8px;
	background-color: white;
	margin: 0 5px 5px 0;
} 

strong {
	font-weight: bold;
}
